/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

/* Body styles */
body {
  /* page color */
  background: #081b29;
  /* content color */
  color: aliceblue;
}

/* header setting */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;

  /* header content setting */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* logo class setting */
.logo {
  font-size: 25px;
  color: lightblue;
  text-decoration: none;
  font-weight: 600;
}

/* header list setting */
.navbar a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

/* animation when mouse hover */
.navbar a:hover,
.navbar a.active {
  color: blue;
}

/* content setting */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}